#login-form {
  position: absolute;
  top: 50%;
  right: 0;
  width: 100%;
  margin: -70px 0 0;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%); }

/*# sourceMappingURL=app.css.map */
